frontend/node_modules
frontend/.idea
job-control/node_modules
job-control/.idea
job-control/.DS_Store
job-control/src/middleware/logs
chat/node_modules
chat/.idea
chat/.DS_Store
chat/src/middleware/logs
